<div class="content">
  <article id="{{ .Params.layout }}-{{ .Params.slug }}" class="article article-type-{{ .Params.layout }}" itemscope
    itemtype="http://schema.org/BlogPosting">
    <!-- TODO gallary -->
    {{- partial "post/gallery" .}}
    <div class="article-header">
      {{- if or (.Permalink) (.Title)}}
      {{ .Scratch.Set "class_name" "article-title" }}
      {{- partial "post/title.html" . }}
      {{- end }}
      <div class="article-meta">
        {{ .Scratch.Set "class_name" "article-date" }}
        {{- partial "post/date.html" . }}
        {{- partial "post/category.html" . }}
        {{- partial "post/tag.html" . }}
        {{- partial "post/pv.html" . }}
        {{- if .Site.Params.comment.type }}
        <span class="post-comment"><i class="icon icon-comment"></i>&nbsp;<a href="{{ .RelPermalink }}#comments"
            class="article-comment-link">{{T "article_comments" }}</a></span>
        {{- end }}
        {{- partial "post/wc.html" . }}
      </div>
    </div>
    <div class="article-entry marked-body js-toc-content" itemprop="articleBody">
      {{ .Content }}
    </div>
    <div class="article-footer">
      {{- $share := .Site.Params.share}}
      {{- $profile := .Site.Params.profile }}
      {{- $simpleShare := .Params.simpleShare}}
      <div class="bar-right">
        {{- with $profile.newsletter }}
        <a class="block highlight-email" target="_blank" href="{{ . }}">👉 Stay in touch - subscribe to the newsletter 👈</a>
        {{- end}}
        {{- with $share.enable }}
        👉
        {{- if not $simpleShare }}
          Was the article valuable to you?
        {{- end }}
        Share it. Let your friends grow:
        <div class="share-component" data-sites="{{- $share.sites }}"
             data-mobile-sites="{{- $share.mobile_sites }}"></div>
        {{- end }}
      </div>

      {{- partial "post/copyright.html" . }}
    </div>
  </article>
  {{- if (.Site.Params.comment.type) }}
  {{- partial "post/comment.html" . }}
  {{- end }}
</div>
{{- partial "post/nav.html" . }}
{{- partial "post/donate.html" . }}
